<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<title>Eventos</title>
</head>

<body>
	<div th:replace="~{menu :: menu}"></div>

	<div class="container">

		<h1>Detalhe do evento</h1>

		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content">
						<span class="card-title">Evento</span>
						<p><strong>ID: <span th:text="${evento.id}">1</span></strong></p>
						<p><strong>Nome: <span th:text="${evento.nome}">Tardezinha da Laura</span></strong></p>
						<p><strong>Local: <span th:text="${evento.local}">Rancho Pedacinho do Céu</span></strong></p>
						<p><strong>Data: <span th:text="${evento.data}">30/01/2026</span></strong></p>
						<p><strong>Horário: <span th:text="${evento.horario}">16h</span></strong></p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content">
						<span class="card-title">Adicionar Convidado:</span>
						<form action="" method="post">
							<div>
								<label>Nome:</label> <input type="text" name="nome">
							</div>
							<div>
								<label>RG:</label> <input type="text" name="rg">
							</div>
							<div>
								<button type="submit" class="btn">Salvar</button>
								<button type="reset" class="btn">Limpar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content">
						<span class="card-title">Convidados</span>
						<table class="highlight">
							<thead>
								<tr>
									<th>Id</th>
									<th>Nome</th>
									<th>Rg</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="c : ${convidados}">
									<td th:text="${c.id}">1</td>
									<td th:text="${c.nome}">Laura Sophia</td>
									<td th:text="${c.rg}">123</td>
	
								</tr>
							</tbody>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>


</body>

</html>